* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    position: absolute;
    left: 160px;
    top: 100px;
    width: 600px;
    height: 600px;
    border: 1px solid #ccc;
}

#controls {
    position: absolute;
    width: 150px;
    top: 100px;
    left: 780px;
}

#controls > button {
    display: block;
    width: 100%;
    text-align: left;
    margin: 5px 0px;
}

#controls > input,
#controls > select {
    width: 100%;
    display: block;
}
